* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 1%;
    margin: 1%;
    font-family: sans-serif;
    color: #323131;
}

main,
.site-name {
    background-color: #bbcea6;
}

a,
.btn-no-style,
#comment-subtitle {
    color: #b5c89f;
}

a:hover,
.btn-no-style:hover {
    color: #e4f0d7;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
}

button {
    background-color: #1f599f;
    border: 1%;
    padding: 1%;
    color: rgba(255, 255, 255, 0.968);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #388bf0;
}

.post-list {
    margin: 1%;
    padding: 1%;
    list-style-type: none;
}

.go-back {
    color: #2a2107;
}

textarea,
input {
    padding: 1%;
    border-radius: 6px;
    border: 1px solid #d8d7d7;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #3788eb;
}

textarea {
    min-width: 45%;
    min-height: 105px;
}

form>div {
    margin-bottom: 2.5%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-section {
    padding: 6px 11px;
    display: flex;
    justify-content: space-between;
}

header,
.site-row,
.info-section,
.form-heading {
    background-color: #2b2207;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
    border: 3px solid rgb(0, 0, 0);
    padding-bottom: 10px;
}

.form-heading {
    padding: 10px;
}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
    padding-left: 10px;
}

.post-name,
.post-title-section, .new-page {
    padding-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 2em;
}

.site-row {
    display: flex;
    border-bottom: 2px solid #c8c5c5;
    justify-content: center;
}

.site-name {
    margin-bottom: 10px;
    padding: 1px 10px;
    border-style: double;
}

main {
    flex: 1;
    padding: 2.5% 4.5%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 15px;
}

.btn-no-style:hover {
    background: none;
}

.delete-post-btn {
    background-color: #d91616;
}

.delete-post-btn:hover {
    background-color: #f8643f;
}

.post {
    margin-bottom: 1%;
    line-height: 151%;
    border: 2px solid rgb(8, 8, 8);
}

.post .title span {
    font-style: italic;
    font-size: 91%;
    color: #7a7878;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    color: #2f2508;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1.5%;
    margin-bottom: 1.5%;
}

.comment:nth-child(odd) {
    background-color: #fbf3ea;
}

.comment .meta {
    font-size: 95%;
    margin-bottom: 1.5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

#comment-subtitle {
    font-size: 12px;
    font-style: italic;
}

.new-post-section {
    display: flex;
    justify-content: center;
}

#create-new-post {
    width: 15%;
}

.sign-in-link,
.login-link {
    color: #332808;
}

.form-heading h1,
.form-heading h2 {
    color: #bacfa2;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
    padding: 10px 10px 0px 0px;
}

.entry-field,
.login-signup-btn,
.btn,
#post-title {
    width: 100%;
}
